target
nbactions.xml
.classpath
.project
.settings
.idea
*.iml
.DS_Store
.checkstyle
.gradle
out
build
.vscode
bin

# Local environment credentials
/.env
/docker/compose/.env
docker/compose/.env.production
